*{
    margin: 0%;
    padding: 0%;
}
ul{
    padding-left: 50px;
    display: inline;
    font-size: 25px;
}
li{
    display: inline;
    padding-left: 20px;
}
.Admissions{
    margin-left: 40px;
    padding: 5px;
    background-color: #e4b316;
    border-radius: 10px;
}
.Admissions:hover{
    background-color:#0C4DA2; #0C4DA2;
    color: white;
}
#header1{
   background-image: url(Picsart_24-08-10_20-04-39-158.jpg);
   background-size: cover;
   height: 800px;
   width: 100%;
}
.select{
    display: inline;
    border: 0cap;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.h1:hover{
    color: #e4b316;
    text-decoration: underline;
}
.select:hover{
    color:#e4b316 ;
    text-decoration: underline;
}
.up{
    text-decoration: none;
    color: white;
}
.header2{
    background-color:rgb(20, 20, 20); 
    position: fixed;
    width: 100%;
    padding: 10px;
}
.select{
    background-color:rgb(20, 20, 20);
    color: white;
}
iframe{
    margin-top: 200px;
}
.Specality,.paragraph{
    padding: 5%;
    padding-bottom: 1%;
}
.student{
    background-image: url(How-SRM-AP-students-are-getting-industry-ready-2-scaled.jpg);
    background-size: cover;
    height: 800px;
    width: 100%;
}
#text{
    padding-top: 100px;
    text-decoration: underline;
    color:white;
    font-size: 40px;
}
.faculty{
    background-image: url(IMG_9929-scaled.jpg);
    background-size: cover;
    height: 800px;
    width: 100%;
}
.Parents{
    background-image: url(MG_2684.jpg);
    background-size: cover;
    height: 800px;
    width: 100%;
}
.visitor{
    background-image: url(ESzw3slUMAEVw6f.jpeg);
    background-size: cover;
    height: 800px;
    width: 100%;
}
.Alumni{
    background-image: url(SRM-Alumni-Day-2023-5.jpg);
    background-size: cover;
    height: 800px;
    width: 100%;
}
.exam{
    background-image: url(3506639718_f9ca2a11a5_b.jpg);
    background-size: cover;
    height: 800px;
    width: 100%;
}
#text1{
    padding-top: 130px;
    text-decoration: underline;
    color:white;
    font-size: 40px;
}
.anchor{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.table{
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
input,select,button{
    padding: 5px;
    border-radius: 5px;
}
.details{
    background-image: url(1719316972phptFGsK2.jpeg);
    background-size: cover;
    height: 1000px;
    color: white;
}
.form{
    margin-top: 50px;
}
.media{
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.products1{
    display: inline-flex;
    padding: 5%;
}
.pA{
    display: inline;
    padding: 5%;
    font-display: justify; 
}
h2,h1{
  text-decoration: underline;
}
.more{
    padding: 10px;
    color: white;
    padding: 10px;
    background-color: #e4b316;
    border: none;
    color: black;
}
.body{
    padding: 3%;
    background-color: #0c4da22b;
}
.Specality{
    background-color: #0c4da22b;
}
.media:hover{
    padding: 10px;
    border-radius: 5px;
    background-color:#0C4DA2;
    color: white;
    text-decoration: underline;
}
.srm{
    padding-top: 3%;
}
.image:hover{
    height: 600px;
    width: 700px;
}
.more:hover{
    background-color:#0C4DA2;
    color: white;
}
.a1{
    text-decoration: underline;
    color: #e4b316;
}
.b1{
    text-decoration: underline;
    color: #e4b316;
}
.c1{
    text-decoration: underline;
    color: #e4b316;
}
.d1{
    text-decoration: underline;
    color: #e4b316;
}
.e1{
    text-decoration: underline;
    color: #e4b316;
}
.f1{
    text-decoration: underline;
    color: #e4b316;
}